<div class="main-left-side">
  <md-content>
    <md-list flex="">
      <!--<md-subheader class="md-no-sticky">3 line item (with hover)</md-subheader>-->
      <md-list-item class="md-3-line" ui-sref="projects"  ng-click="null">
        <!--<md-icon ng-src="assets/img/projects.png" aria-label="android "></md-icon>-->
        <img class="main-icon" ng-src="assets/img/projects.png"  width="20" height="20" alt="">
        <div class="md-list-item-text" layout="column">
          <span class="text-16">Проекты</span>
        </div>
      </md-list-item>

      <md-divider></md-divider>
      <md-list-item class="md-3-line" ui-sref="objects"  ng-click="null">
        <!--<md-icon ng-src="assets/img/projects.png" aria-label="android "></md-icon>-->
        <img class="main-icon" ng-src="assets/img/objects.png"  width="20" height="20" alt="">
        <div class="md-list-item-text" layout="column">
          <span class="text-16">Объекты</span>
        </div>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item class="md-3-line"  ui-sref="objects" ng-click="null">
        <!--<md-icon ng-src="assets/img/projects.png" aria-label="android "></md-icon>-->
        <img class="main-icon" ng-src="assets/img/personal.png"  width="20" height="20" alt="">
        <div class="md-list-item-text" layout="column">
          <span class="text-16">Персонал</span>
        </div>
      </md-list-item>

      <md-divider></md-divider>
      <md-list-item class="md-3-line"  ng-click="null">
        <!--<md-icon ng-src="assets/img/projects.png" aria-label="android "></md-icon>-->
        <img class="main-icon" ng-src="assets/img/statistic.png"  width="20" height="20" alt="">
        <div class="md-list-item-text" layout="column">
          <span class="text-16">Статистика</span>
        </div>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item class="md-3-line"  ng-click="null">
        <!--<md-icon ng-src="assets/img/projects.png" aria-label="android "></md-icon>-->
        <img class="main-icon" ng-src="assets/img/archive.png"  width="20" height="20" alt="">
        <div class="md-list-item-text" layout="column">
          <span class="text-16">Архив</span>
        </div>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item class="md-3-line"  ng-click="null">
        <!--<md-icon ng-src="assets/img/projects.png" aria-label="android "></md-icon>-->
        <img class="main-icon" ng-src="assets/img/settings.png"  width="20" height="20" alt="">
        <div class="md-list-item-text" layout="column">
          <span class="text-16">Настройки</span>
        </div>
      </md-list-item>

      <md-divider></md-divider>

    </md-list>
  </md-content>
</div>